p 
{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

hr 
{
    height: 4px;
    width: 60%;
    background-color: green;
}

header 
{
    text-align: center;
    width: 800px;
    margin: 0 auto
}

div
{
    width: 800px;
    margin: 0 auto;
}